<div class="well">
  <h3>Olá, você quer colaborar com o ecossistema de startups?</h3>
  <p>
    A colaboração é a chave do século 21 e já se tornou um pilar para as novas gerações. No ambiente da tecnologia as empresas se renderam ao open source e no empreendedorismo a colaboração é uma máxima no dia a dia das equipes. Pensando nisso, nós da iugu lançamos um projeto crowdfunding que visa angariar fundos em prol de causas que são importantes para comunidade de startups e tecnologia do Brasil. 
  </p>
  <p>
    Nosso objetivo é contribuir para o ecossistema de startups estimulando o desenvolvimento de soluções open source, entre outras, que permitam o avanço do nosso ambiente de startups e tecnologia. 
    Na iugu somos um grupo de nerds, empreendedores e coders onde a colaboração está no centro da nossa cultura. Acreditamos que somos mais fortes quando nos unimos e desenvolvemos produtos que beneficiarão não só a nós porém a todos da comunidade.
  </p>
  <p>
    <a href="http://iugu.com/coisas-bacanas/codigo-aberto">Conheça a lista de produtos open source que já desenvolvemos</a>
  </p>
</div>
<div class="alert alert-danger" role="alert" style="display: none; <%= "display: block;" if locals[:error] %>">
  <strong>Oops!! Aconteceu um problema!!</strong>
  <% if locals[:charge] %>
    Ocorreu um erro em sua cobrança. 
    <% if locals[:charge].respond_to? :message %>
      <% if locals[:charge].LR == nil %>
        <%= locals[:charge].message %>
      <% elsif locals[:charge].LR == "05" %>
        Transação não Autorizada.
      <% elsif locals[:charge].LR == "51" %>
        Saldo Insuficiente.
      <% else %>
        <%= locals[:charge].message %>
      <% end %>
    <% end %>
  <% else %>
    Verifique os dados do formulário e tente novamente.
  <% end %>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading">Projeto Atual: <strong>Gem de NFe em Ruby</strong></div>
      <div class="panel-body">
        <img src="images/gem-nfe.png"/>
        <h4>Desenvolvimento da Gem (Biblioteca Ruby) para envio, cancelamento e devoluções de Nota Fiscal Eletrônica junto ao SEFAZ</h4>
        <h5>Entregáveis</h5>
        <ul>
          <li>Gem NFe</li>
          <li>Método de Envio</li>
          <li>Método de Cancelamento</li>
          <li>Método de Devolução</li>
          <li><a href="https://github.com/iugu/nfe">Repositório OpenSource no Github</a></li>
        </ul>
        <h5>Plano de Ação</h5>
        <p>
          O objetivo da causa é levantar pelo menos R$2 mil reais. O valor será usado integralmente para o desenvolvimento do projeto, e se passarmos a meta, faremos melhorias. Definiremos o escopo do projeto e a elaboração da construção do código inicial. Em seguida, alocaremos desenvolvedores e gerenciaremos a execução do projeto até a sua entrega. Após a execução de testes e acompanhamento da qualidade do código, publicaremos a Gem.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-success">
          <div class="panel-heading">Meta de Doações: <strong><%= @goal %></strong></div>
          <div class="panel-body">
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= @donations_cents %>" aria-valuemin="0" aria-valuemax="<%= @goal_cents %>" style="width: <%= @goal_percent %>%">
                <span><%= @donations %></span>
              </div>
              <% if @donations_cents > @goal_cents %>
                <div class="progress-bar progress-bar-active progress-bar-striped" role="progressbar" aria-valuenow="<%= @stretch_cents %>" aria-valuemin="0" aria-valuemax="<%= @stretch_cents %>" style="width: <%= 100 - @goal_percent %>%">
                  <span><%= @stretch %></span>
                </div>
              <% end %>
            </div>
            <div class="row">
              <div class="col-xs-4 col-md-4">
                <div><strong>Doadores</strong></div>
                <span><%= @nr_donations %></span>
              </div>
              <div class="col-xs-4 col-md-4">
                <div><strong>Meta</strong></div>
                <span><%= @total_goal_percent %>%</span>
              </div>
              <div class="col-xs-4 col-md-4">
                <div><strong>Total</strong></div>
                <span><%= @total_donations %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form id="payment-form" action="/" method="POST">
          <input type="hidden" id="amount_cents" name="amount_cents">
          <input type="hidden" id="token" name="token">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="email@email.com">
                  </div>
                  <div class="form-group">
                    <label for="amount">Valor</label>
                    <input type="currency" class="form-control" id="amount" placeholder="R$ 10,00" data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal="," value="R$ 1,00">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="usable-creditcard-form">
                    <div class="wrapper">
                      <div class="input-group nmb_a">
                        <div class="icon ccic-brand"></div>
                        <input autocomplete="off" class="credit_card_number" data-iugu="number" placeholder="Número do Cartão" type="text" value="" />
                      </div>
                      <div class="input-group nmb_b">
                        <div class="icon ccic-cvv"></div>
                        <input autocomplete="off" class="credit_card_cvv" data-iugu="verification_value" placeholder="CVV" type="text" value="" />
                      </div>
                      <div class="input-group nmb_c">
                        <div class="icon ccic-name"></div>
                        <input class="credit_card_name" data-iugu="full_name" placeholder="Titular do Cartão" type="text" value="" />
                      </div>
                      <div class="input-group nmb_d">
                        <div class="icon ccic-exp"></div>
                        <input autocomplete="off" class="credit_card_expiration" data-iugu="expiration" placeholder="MM/AA" type="text" value="" />
                      </div>
                    </div>
                    <div class="footer">
                      <img src="http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/cc-icons.e8f4c6b4db3cc0869fa93ad535acbfe7.png" alt="Visa, Master, Diners. Amex" border="0" />
                      <a class="iugu-btn" href="http://iugu.com" tabindex="-1"><img src="http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/payments-by-iugu.1df7caaf6958f1b5774579fa807b5e7f.png" alt="Pagamentos por Iugu" border="0" /></a>
                    </div>
                  </div>
                  <div>
                    <button id="submit-form" class="btn btn-block btn-success btn-lg" type="submit">Contribuir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>
